<form class='adddates'>
  <h2>Important Dates</h2>
  <label>Birthday</label>
  {{input type='date' class='create-user-input birthday' value=currentUser.birthday placeholder='birthday'}}
  <label>Anniversary</label>
  {{input type='date' class='create-user-input anniversary' value=currentUser.anniversary placeholder='anniversary'}}

  <button class='btn btn-info'{{action 'updateProfile'}}>Update</button>
</form>
