<form class='addinterests'>
  <label>Add Interest</label>
  {{input type='string' class='create-user-input' value=interestText placeholder='interest'}}
  <button class='btn btn-info'{{action 'addInterest'}}>Add Interest</button>
</form>

<form class='interests'>
  {{#each currentUser.interests itemController='interest'}}
    <li>
      {{interestText}}
    </li>
    <button {{action 'removeInterest'}}>Delete Item</button>
  {{/each}}
</form>
