 // Bourbon & Neat
@import '../bower_components/bourbon/dist/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

.avatar {
  background-color: #808080;
  height: 150px;
  width: 150px;
}
