 // Bourbon & Neat
@import '../bower_components/bourbon/dist/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
$grid-columns: 12;

// Custom Styles

// BODY

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  margin: 0;
  padding: 0;
}

/////////////////////////////////////////// APPLICATION TEMPLATE ///////////////////////////////////////////

.header {
  background-color: #000;
  color: #bfbfbf;
  padding: 10px;
  text-align: right;
  text-transform: uppercase;
  width: 100%;

  .octicon {
    color: #bfbfbf;
    font-size: 13px;
    font-weight: 800;
    text-decoration: none;
  }

  .octicon:hover {
    .navigation {
      color: #08c;
    }
  }

  .navigation {
    font-size: 13px;
    font-weight: 800;
    padding-right: 5px;
  }

  .navigation:hover {
    color: #08c;
  }
}

/////////////////////////////////////////// INDEX TEMPLATE ///////////////////////////////////////////

.index {
  background-color: #000;
  margin: 0;
  @include span-columns(12);

  .banner {
    background-color: #edeef0;
    height: 100%;
    padding: 15px 0;
    text-align: -webkit-center;


    h1 {
      font-size: 45px;
      margin: 0 0 10px;
    }

    .tagline {
      font-size: 20px;
      margin: 0;
    }
  }

  .container {
    background: url('../../images/galapagos.jpg') no-repeat center center;
    background-size: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    @include span-columns(12);

    h2 {
      color: #000;
      font-size: 20px;
    }

    span {
      font-weight: 100;
    }
  }

  .login {
    background-color: #edeef0;
    margin-bottom: 20px;
    padding: 10px 10px 0;
    text-align: left;
    width: 300px;
    @include shift(7.2);

  }

  .signup {
    background-color: #edeef0;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
    width: 300px;
    @include shift(7.2);
  }

  .input {
    display: block;
    height: 30px;
    width: 99%;
  }

  .password {
    display: inline-block;
    margin-right: 5px;
    width: 66%;
  }

  .btn-success {
    vertical-align: top;
    width: 30%;
  }

  .btn-info {
    width: 62%;
  }

}

////////////////////////////////////////// PROFILE TEMPLATE //////////////////////////////////////////

.profile {
  background-color: #edeef0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  @include span-columns(12);

  a {
    color: #000;
    font-weight: 400;
    margin: 0 25px;
    text-decoration: none;
  }

  a:hover {
    color: #08c;
  }
}

/////////////////////////////////////////// AVATAR TEMPLATE ///////////////////////////////////////////

.addavatar {
  border: solid 2px #808080;
  display: block;
  margin-top: 20px;
  min-width: 343px;
  padding: 20px;
  text-align: center;
  @include shift(3.5);
  @include span-columns(5);

  .imgavatar {
    background-color: #808080;
    display: block;
    height: 200px;
    margin: 20px 0 20px 167px;
    width: 200px;
  }

  .next {
    bottom: 95px;
    float: right;
    position: relative;

  }


}

/////////////////////////////////////////// DATES TEMPLATE ///////////////////////////////////////////

.adddates {
  border: solid;
  display: block;
  margin-top: 20px;
  min-width: 343px;
  padding: 20px;
  text-align: center;
  @include shift(3.5);
  @include span-columns(5);

  input {
    display: block;
    height: 30px;
    margin: 0 auto 20px;
    text-align: center;
  }

  .back {
    bottom: 77px;
    float: left;
    position: relative;
  }

  .next {
    bottom: 77px;
    float: right;
    position: relative;
  }
}

//////////////////////////////////////// INTERESTS TEMPLATE ////////////////////////////////////////

.add-interests {
  border: solid;
  display: block;
  margin-top: 20px;
  min-width: 343px;
  padding: 20px;
  text-align: center;
  @include shift(3.5);
  @include span-columns(5);

  input {
    display: block;
    height: 30px;
    margin: 0 auto 20px;
    text-align: center;
  }

  .back {
    bottom: 77px;
    float: left;
    position: relative;
  }

  .next {
    bottom: 77px;
    float: right;
    position: relative;
  }
}

.interests {
  border: solid;
  display: block;
  margin-top: 20px;
  min-width: 343px;
  padding: 20px;
  text-align: center;
  @include shift(3.5);
  @include span-columns(5);

  li {
    display: inline-block;
    font-size: 25px;
    list-style: none;
    margin-bottom: 20px;
  }

  a {
    font-size: 12px;
    margin-right: 20px;
  }

  a:hover {
    text-decoration: none;
  }

  button {
    font-size: 12px;
    margin-right: 15px;
    vertical-align: bottom;
  }
}

//////////////////////////////////////// AVERSIONS TEMPLATE ////////////////////////////////////////

.add-aversions {
  border: solid;
  display: block;
  margin-top: 20px;
  min-width: 343px;
  padding: 20px;
  text-align: center;
  @include shift(3.5);
  @include span-columns(5);

  input {
    display: block;
    height: 30px;
    margin: 0 auto 20px;
    text-align: center;
  }

  .back {
    bottom: 77px;
    float: left;
    position: relative;
  }

  .next {
    bottom: 77px;
    float: right;
    position: relative;
  }
}

.aversions {
  border: solid;
  display: block;
  margin-top: 20px;
  min-width: 343px;
  padding: 20px;
  text-align: center;
  @include shift(3.5);
  @include span-columns(5);

  li {
    display: inline-block;
    font-size: 25px;
    list-style: none;
    margin-bottom: 20px;
  }

  a {
    font-size: 12px;
    margin-right: 20px;
  }

  a:hover {
    text-decoration: none;
  }

  button {
    font-size: 12px;
    margin-right: 15px;
    vertical-align: bottom;
  }
}

//////////////////////////////////////// SIZES TEMPLATE ////////////////////////////////////////

.addsizes {
  border: solid;
  display: block;
  margin-top: 20px;
  min-width: 343px;
  padding: 20px;
  text-align: center;
  @include shift(3.5);
  @include span-columns(5);

  input {
    display: block;
    height: 30px;
    margin: 0 auto 20px;
    text-align: center;
  }

  .back {
    bottom: 77px;
    float: left;
    position: relative;
  }

  .next {
    bottom: 77px;
    float: right;
    position: relative;
  }
}

/////////////////////////////////////////// SWAG TEMPLATE ///////////////////////////////////////////

.swag-template {
  margin-left: 9.2%;
}

.addswag {
  background-color: #f0f8ff;
  border: solid;
  margin: 20px 400px 20px 0;
  padding: 0 20px 20px;
  width: 1218px;

  .image {
    background: url('../../images/carticon.png') no-repeat center center;
    background-color: #fff;
    display: inline-block;
    margin-right: 20px;
    vertical-align: bottom;
    width: 200px;
  }

  .imgswag {
    border: solid 2px #808080;
    display: block;
    height: 200px;
    width: 200px;
  }

  .data {
    display: inline-block;
  }

  .input {
    display: block;
    height: 33px;
    width: 300px;
  }
}

.swagbag {
  display: inline-block;
  margin: 15px 52px 15px 0;


  width: 268px;

  .image {
    margin: 0;
    width: 260px;

  }

  .imgswag {
    border: solid 2px #808080;
    display: block;
    height: 210px;
    width: 245px;
  }

  ul {
    bottom: 8px;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    position: relative;
    vertical-align: top;
  }

  li {

    display: block;
    font-size: 14px;
    line-height: 33px;

  }

  .btn {
    margin-bottom: 20px;
  }
}


/////////////////////////////////////////// FRIENDS INDEX TEMPLATE ///////////////////////////////////////////

.friends {
  display: block;
  margin-top: 20px;
  min-width: 343px;
  padding: 20px;
  text-align: center;
  @include shift(1);
  @include span-columns(10);

  .btn-info {
    display: block;
    left: 82.6%;
    margin-bottom: 10px;
    position: relative;
    vertical-align: top;
  }

  ul {
    display: inline-block;
    margin: 0 50px 30px 0;
  }

  li {
    background-color: #edeef0;
    list-style: none;
  }

  img {
    border: solid 2px #808080;
    display: block;
    height: 210px;
    width: 215px;
  }

  .info {
    float: right;
    line-height: 17px;
    position: relative;
    text-align: right;
    top: 4px;
    width: 215px;

    span {
      color: #000;
      float: left;
      font-weight: 700;
      margin-right: 10px;
    }

    .octicon {
      color: #000;
    }

    .octicon:hover {
      color: #08c;
      cursor: pointer;
    }
  }




}

/////////////////////////////////////////// FRIENDS SHOW TEMPLATE ///////////////////////////////////////////

.friends-show-template {
  margin-left: 9.2%;

  .username {
    text-transform: uppercase;
  }
}

.friends-profile {
  background-color: #edeef0;
  color: #000;
  height: 40px;
  text-align: center;
  text-transform: uppercase;

  .section {
    color: #000;
    display: inline-block;
    margin: 10px 25px 0;
    text-align: left;
    vertical-align: top;

    a {
      color: #000;
      text-decoration: none;
    }

    a:hover {
      color: #08c;
      cursor: pointer;
    }
  }

  .level-two {
    list-style: none;
    margin-left: 0;
  }

  label {
    color: #08c;
  }

  li {
    margin-bottom: 10px;
  }


}

.friends-swagbag {
  display: inline-block;
  margin: 15px 52px 15px 0;


  width: 268px;

  .image {
    margin: 0;
    width: 260px;
  }

  .imgswag {
    border: solid 2px #808080;
    display: block;
    height: 210px;
    width: 245px;
  }

  ul {
    bottom: 8px;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    position: relative;
    vertical-align: top;
  }

  li {
    display: block;
    font-size: 14px;
    line-height: 33px;
  }

  .btn {
    margin-bottom: 20px;
  }

}

/////////////////////////////////////////// SEARCH TEMPLATE ////////////////////////////////////////////////

.search {
  display: block;
  margin-top: 20px;
  min-width: 343px;
  padding: 20px;
  text-align: center;
  @include shift(1);
  @include span-columns(10);

  .btn-info {
    display: block;
    left: 86.9%;
    margin-bottom: 10px;
    position: relative;
    vertical-align: top;
  }

  ul {
    display: inline-block;
    margin: 0 50px 30px 0;
  }

  li {
    background-color: #edeef0;
    list-style: none;
  }

  img {
    border: solid 2px #808080;
    display: block;
    height: 210px;
    width: 215px;
  }

  .info {
    float: right;
    position: relative;
    top: 4px;
    width: 215px;

    span {
      color: #000;
      float: left;
      font-weight: 700;
    }

    .flaticon {
      color: #000;
      float: right;
    }

    .flaticon:hover {
      color: #08c;
      cursor: pointer;
    }

    .flaticon:before {
      font-size: 14px;
      margin-left: 5px;
    }

    [disabled] {
      visibility: hidden;
    }
  }
}

/////////////////////////////////////////// TEMPLATE ////////////////////////////////////////////////
