<div class='header'>
  <h1>SWAG</h1>
  <h2 class='tagline'>Your style. A perfect fit.</h2>
  <a href=# class="octicon octicon-gist-secret"></a>
  <a href=# class="octicon octicon-organization"></a>
  <a href=# class='octicon octicon-gear'></a>
  <a href=# class="octicon octicon-sign-out"></a>
  {{outlet}}
</div>
