<form class='index'>

  <div class='banner'>
    <h1>SWAGGER</h1>
    <p class='tagline'>Your style. A perfect fit.</p>
  </div>

  <div class='container'>

    <div class='login'>
      {{outlet login}}
    </div>

    <div class='signup'>
      {{outlet signup}}
    </div>

  </div>
</form>
