{{input type='email' class='input email' value=email placeholder='email'}}
{{input type='password' class='input password' value=password placeholder='password'}}
<input class='btn btn-success' value='Log In' {{action 'logIn'}}>
<a class='link' {{action 'sendPasswordResetEmail'}}>Forgot password?</a>
