{{input type='email' class='input email2' value=email placeholder='email'}}
<a class='link' {{action 'sendPasswordResetEmail'}}>Request Password Reset</a>
<a class='link link2' {{action ''}}>Cancel</a>
