<form class='search'>
  <h2>Find Friends</h2>

  {{#each arrangedContent itemController='SearchItem'}}
    <ul>
        <li>
          <p>{{username}}</p>
          <img class='imgAvatar' {{bind-attr src=imgURL}} />
          <button class='btn btn-info'{{action 'addFriend'}}>Add Friend</button>
        </li>
    </ul>
  {{/each}}
</form>

<form class='filter'>
  Name
  Email
</form>
