<form class='search'>

  {{#each arrangedContent itemController='SearchItem'}}
    <ul>
        <li>
          <img class='imgAvatar' {{bind-attr src=imgURL}} />
          <div class='info'>
            <span>{{username}}</span>
            <a class='icon flaticon flaticon-add70 changeFriendStatus'{{action 'addFriend'}}></a>
            <a class='icon octicon octicon-trashcan changeFriendStatus hidden'{{action 'removeFriend'}}></a>
          </div>
        </li>
    </ul>
  {{/each}}
</form>
