<h2>New to Swag?<span>Join today!</span></h2>
{{input type='text' class='create-user-input' value=setUser placeholder='User Name'}}
{{input type='email' class='create-user-input' value=setEmail placeholder='Email'}}
{{input type='password' class='create-user-input' value=setPassword placeholder='Password'}}
<input class='btn btn-info' value='Sign Up' {{action 'signUp'}}>
