<h2>New to Swag?<span>Join today!</span></h2>
{{input type='text' class='input' value=username placeholder='User Name'}}
{{input type='email' class='input' value=email placeholder='Email'}}
{{input type='password' class='input' value=password placeholder='Password'}}
<input class='btn btn-info' value='Sign up for Swagger' {{action 'signUp'}}>
